.Home {

  &-main {
    position: relative;
    &-text {
      // margin-left: 45%;
      // margin-top: 15%;
      left: 35%;
      top: 30%;
      position: absolute;
      font-size: 3.5rem;
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px #000000;
      background-color: rgba(91, 91, 91, 0.187);
      border-radius: 5%;
      // box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
    }
    &-image {
      width: 100%;
      clip: rect(100px, 600px, 200px, 100px);
    }
  }

  &-description {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    &-title {
      font-size: 3rem;
      color: grey;
    }
    &-details {
      width: 50%;
      font-size: 1.6rem;
      // background-color: yellow;
    }
  }
  &-testimonials {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
  }
}