.Navigation {
  /* margin-top: 1rem;  */
  width: 100%;
  height: 5rem;
  background-color:$color-sidebar;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // z-index: 1;
  &-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
      & div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // background-color: red;
        width: 30%;
        color: $color-grey;
        font-size: 1.6rem;

        & p {
          cursor: pointer;
        }
      }
  }
}
.Navlogo {
  // margin-top: 1rem;
}
