.Results {
  display: flex;
  width: 100%;
  flex-direction: column;

  &-main {
    // background-color: red;
    margin-left: 3rem;
  }

  &-box {
    height: 20rem;
    width: 45rem;
    background: white;
    border-radius: 3%;
    margin-bottom: 10%;
    box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.294);
    -webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}