.searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60rem;
  // background-color: red;
  border-bottom: solid grey 0.3px;
  line-height: 0;
  // margin-bottom: -2rem;
}